body{
  background-image: radial-gradient(#caf5b8,#b8eff5,#000000);
  text-align: center;
}

h1{
  color:#fa9dee;
  font-family: fantasy;
  text-align: center;
}
.cupcake1{
  width: 50%;
  height: 50%;
}

.best{
  width: 50%;
  height: 50%;
  animation-iteration-count: infinite;
  transform: translate(-1px, -2px) rotate(-1deg);
}

.flashy{
  color: red;
  font-style: italic;
}